/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}

.container .large-container, .medium-container, .small-container {
    margin: 0 auto;
    min-height: 100px;
}

.large-container {
    width: 100%;
}

.medium-container {
    width: 55%;
}

.small-container {
    width: 50%;
    padding: 70px 0;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-weight:900;
    letter-spacing: 4px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.514);
}

h2 {
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.885);
}

p {
    font-size: small;
}

a {
    padding: 10px;
    font-size: small;
}

.a-regular {
    color: black;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.a-blue {
    color: white;
    background-color:#0061FF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-white {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.hr-small {
    width: 30%;
    border: 1px solid rgb(204, 204, 204);
}

img {
    width: 100%;
}

.lightblue {
    background-color: #B4D0E7;
}

li {
    list-style-type: none;
    padding: 10px 0;
}

.container-img-text {
    display: flex;
    min-height: 300px;
} 

.container-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-img {
    width: 70%;
}

.white-button {
    background-color: white;
}

/* HEADER */

header .container {
    min-height: 60px;
    background-color: #FFFFFF;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

header .container .header-left {
    min-width: 40%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

header .container nav {
    margin: 0 10px;
}

header .container .header-right {
    min-width: 40%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#logo-dropbox {
    display: flex;
}

/* MAIN */

/* PRIMA SEZIONE LARGE MAIN */

.jumbo-top {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-text.jumbo .a-blue {
    width: 80%;
}

.container-text.jumbo .fa-arrow-down {
    width: 20%;
}

.container-text.jumbo {
    padding-bottom: 40px;
    position: relative; top: 40px;
}

.container-img.jumbo {
    position: relative; top: 40px;
}

.fa-arrow-down {
    font-size: 30px;
}

/* PRIMA SEZIONE SMALL MAIN   */

.small-container.first {
    min-height: 100px;
}

.small-container input{
    transform: scale(1.2)
}

.radio-button {
    display: inline-block;
    margin: 30px 10px;
}

.container-columns {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
}

.my-row{
    width: 30%;
    min-height: 500px;
    padding-top: 50px;
}

.my-row-title , .my-row-content {
    border: 1px solid grey;
}

.my-row-title {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-row-title i{
    padding: 0 5px;
}

.my-row-content {
    padding: 10px 10px;
    font-size: small;
    min-height: 1000px;
}

.my-row-content div {
    padding: 10px 0;
    min-height: 30px;
}

.offerte-piano {
    display: flex;
}

.offerte-piano i {
    padding-right: 5px;
}

.offerte-piano.salienti i {
    font-size: large;
    color:#0062FF ;
}

/* SECONDA SEZIONE SMALL MAIN  */

.small-container.second {
    min-height: 100px;
}

.container-columns.second {
    min-height: 100px ;
}

.my-row.second {
    width: 100%;
    margin: 10px 0;
    padding: 20px 0;
    border: none;
    min-height: 100px;
}


.my-row-content.second {
    display: flex;
    min-height: 100px;
    margin: 0;
    padding: 20px 0;
}


.my-row-content.left {
    width: 70%;
    min-height: 100px;
    padding: 10px;
    border: none;
}

.my-row-content.right {
    width: 30%;
    min-height: 150px;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items:flex-start
}

/* TERZA SEZIONE SMALL MAIN */

.small-container.third {
    min-height: 300px;
    padding: 0;
}

.small-container.third .container-img-text {
    min-height: 200px;
}

.container-text.partner{
    width: 40%;
    padding: 30px 30px;
    display: inline-block;
}

.container-text.partner div{
    padding-bottom: 20px;
}

/* QUARTA SEZIONE SMALL MAIN */

.my-row.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    width: 30%;
    padding: 20px 0;
}

.container-img-text.cards {
    flex-direction: column;
    width: 100%;
}

.container-img-text.cards div {
    margin-bottom: 10px;
}

.container-img.cards {
    width: 100%;
}

.container-text.cards{
    width: 100%;
}

/* QUINTA SEZIONE SMALL MAIN  */

.small-container.fifth {
    margin-bottom: 50px;
}

.small-container.fifth * {
    width: 70%;
    padding: 10px 0;
}

.small-container.fifth a {
    font-weight: bold;
}

/* SECONDA SEZIONE LARGE MAIN */

.large-container.second {
    display: flex;
    justify-content: center;
}

.card-logo {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.card-logo.center {
    background-color: #F5F5F5;
    padding: 20px 30px;
}

.card-logo.center div {
    padding: 20px 0;
}

.card-logo.center img {
    width: 200px;
}

.card-logo.center hr {
    width: 50px;
}

.card-logo.box {
    background-color: chocolate;
    display: flex;
    flex-wrap: wrap;
}

.box-logo {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-logo img {
    width: 70%;
    filter: invert(1);
}

.red-box {
    background-color: red;
}

.brown-box {
    background-color: #61082B;
}

.yellow-box {
    background-color: #FFD830;
}

.green-box {
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

.blue-box {
    background-color: #0D2481 ;
}

.heavenly-box {
    background-color: #5c93ed;
}

/* SESTA SEZIONE SMALL MAIN */

.large-container.third {
    min-height: 100px;
}

.large-container.third h2 {
    color: #61082B;
}

.large-container.third .small-container {
    padding: 0;
}

.large-container.third .container-img-text {
    min-height: 200px;
}

.large-container.third .left , .large-container.third .right {
    display: flex;
    align-items: center;
    width: 50%;
}

.large-container.third .right {
    justify-content: flex-end;
}

.large-container.third .right a {
    border: none;
    background-color: #FFFFFF;
    padding: 5px 15px;
}

/* SETTIMA SEZIONE SMALL MAIN */

.small-container.seventh {
    padding: 100px 0;
}

.small-container.seventh li{
    width:95%;
}

.small-container.seventh h2 {
    padding-bottom: 60px;
}

.FAQ-row {
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-top: 1px solid black;
}

.FAQ-row:last-of-type {
    border-bottom: 1px solid black;
}

.FAQ-row button {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.473);
}

/* FOOTER */

footer .container {
    background-color: black;
    min-height: 200px;
}

footer .medium-container {
    min-height: 200px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.info-footer {
    width: calc(100% / 6);
    min-height: 100%;
    color: white;
}

.info-footer li {
    padding: 5px 0;
}

.info-footer a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 0;
}

.info-footer-title {
    height: 20%;
    display: flex;
    align-items: center;
}

.info-footer-body {
    height: 80%;
}

/* EFFETTI */

.a-white:hover , .large-container.third .right a:hover,
.a-regular:hover , .a-blue:hover , .info-footer a:hover {
    transition: 1s;
    transform: scale(1.1);
}

.a-regular:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.a-blue:hover {
    background-color: #78acff;
}

.a-white:hover , .large-container.third a:hover, .info-footer a:hover {
    background-color: #aaaaaa;
}

/* DROPDOWN */
  
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
top: 30px;
background-color: #d6d6d6;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.556);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 10px 16px;
text-decoration: none;
display: flex;
align-items: center;
}

.dropdown-content a:hover {
    background-color: #bebebe;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content i , .select-language {
    padding-right: 10px;
    min-width: 30px;
    text-align: center;
}

.dropdown-content #span-text {
    min-width: 70%;
}

.select-language {
    width: 20px;
}
